<%= form_for current_user.attendances.find_by_conference_id(@conference),
             :html => {:method => :delete },
             :remote => true do |f| %>
  <div class="actions"><%= f.submit "UNATTEND" %></div>
<% end %>
